name: Publish

on:
  push:

env:
  NODE_VERSION: 16.13.2
  PNPM_VERSION: 6.22.2

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2
        with:
          version: ${{ env.PNPM_VERSION }}
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml
          registry-url: 'https://registry.npmjs.org'
      - run: pnpm i --frozen-lockfile --production false
      - if: github.ref_name == 'main'
        run: pnpm publish --access=public
      - if: github.ref_name == 'next'
        run: pnpm publish --access=public --publish-branch next --tag next