name: Publish

on:
  push:
  pull_request:
  release:

env:
  NODE_VERSION: 16.13.2
  PNPM_VERSION: 6.22.2

jobs:
  publish:
    if: github.event_name == 'push' && (github.ref_name == 'main' || github.ref_name == 'next')
    needs: [ test ]
    runs-on: ubuntu-latest
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2
        with:
          version: ${{ env.PNPM_VERSION }}
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml
          registry-url: 'https://registry.npmjs.org'
      - run: pnpm i --frozen-lockfile --production false
      # --no-git-checks is used for publish because we are
      # adding a copy of  the root README.md into the core package
      - run: cp README.md packages/core/README.md
      - if: github.ref_name == 'master'
        run: pnpm publish --access=public --no-git-checks
      - if: github.ref_name == 'next'
        run: pnpm publish --access=public --no-git-checks --publish-branch next --tag next